#Data Structures

1. What are data structures, and why are they important?
> Data structures are ways of organizing and storing data so that it can be accessed and modified efficiently. They are important because they help in optimising memory usage,improving performance of algorithms and making code clearer and easier to manage.

2. Explain the difference between mutable and immutable data types with examples.
> Mutable data types are the types of data that can be further changed after the creation,for example list,dictionary,etc.Whereas immutable data types are the types that cannot be further changed after one created,for example tuple,string,etc.

3. What are the main differences between lists and tuples in Python?
> 1.	Mutability:
Lists are mutable, meaning you can change, add, or remove elements after the list is created. Tuples are immutable, so once created, their contents cannot be modified.


2.	Syntax:
A list is created using square brackets: [1, 2, 3]
A tuple is created using parentheses: (1, 2, 3)


3.	Performance:
Tuples are generally faster than lists when it comes to iteration.


4.	Use Cases:
Use lists when you need a collection of items that can change over time. Use tuples when you want to store constant data or use the collection as a dictionary key.


5.	Methods Available:
Lists have many built-in methods like append(), remove(), sort(), etc. Tuples have very few methods because they are not meant to change.

4.  Describe how dictionaries store data.
> Dictionaries store data as key-value pairs using a hash table. Each key is hashed to determine where to store the corresponding value.

In [1]:
student = {"name": "Alice", "age": 20}

5. Why might you use a set instead of a list in Python?
> 1. Automatic Removal of Duplicates:
Sets do not allow duplicate values, so they are ideal when you need to ensure all elements are unique.
 2. Efficient Set Operations:
Sets support some mathematical operations like union, intersection, and difference, which are not directly available for lists.
 3. Better for Unordered Data:
If you don't care about the order of elements, and you only care about whether something is present, a set is a better fit than a list.

6. What is a string in Python, and how is it different from a list?
> A string is an immutable sequence of characters whereas a list is a mutable sequence of any data type.That means strings cannot be changed in place but list can.

7. How do tuples ensure data integrity in Python?
> Tuples are immutable, which means their contents can't be changed. This makes them safer for storing fixed configurations or constant data.

8. What is a hash table, and how does it relate to dictionaries in Python?
> A harsh table is a data structure that stores key-value pairs and uses a harsh function to map each key to a specific index in an internal way.

9. Can lists contain different data types in Python?
> Yes lists can contain any type of hetrogeneous data in python.

10.  Explain why strings are immutable in Python?
> Strings in Python are immutable, meaning you cannot change them after they are created. Instead of modifying a string, any change creates a new string.

11. What advantages do dictionaries offer over lists for certain tasks?
> Dictionaries offer several key advantages over lists for certain tasks, especially when dealing with structured or key-based data.you can use dictionary over a list when:-
  -You need to associate names/labels with values
  -You need fast access to elements via unique identifiers
  -You are dealing with records, user profiles, settings, etc.

12. Describe a scenario where using a tuple would be preferable over a list.
> Use a tuple over a list when you want fixed data or to use the data as a key in the dictionary.

13. How do sets handle duplicate values in Python?
> In Python, sets automatically eliminate duplicate values. When you create a set, any duplicate elements are removed internally, and only unique elements are stored.

14. How does the "in" keyword work differently for lists and dictionaries?
> The "in" keyword in a list checks if a value exists or not wheather in dictionary it checks where if a key exists or not.

15. Can you modify the elements of a tuple? Explain why or why not.
> No you cannot modify the elements of a tuple,meaning once a tuple is created, the elements cannot be changed, added to, or removed.
This immutability helps to maintain data integrity,enable safe use as dictionary keys and to improve performance.

16. What is a nested dictionary, and give an example of its use case?
> A nested dictionary is a dictionary where values are also dictionaries, which means dictionary within a dictionary.

In [2]:
students = {
  "101": {"name": "Alice", "age": 20},
  "102": {"name": "Bob", "age": 22}
}

17. Describe the time complexity of accessing elements in a dictionary.
> Average case: O(1) and Worst case: O(n).

18. In what situations are lists preferred over dictionaries?
> 1. You need an ordered squence of items
  2. Data has no unique key or label
  3. You are working with simple iteration
  4. You need to store duplicate values
  5. You are accessing items by index.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
> Dictionaries were originally considered unordered because they used hash tables to store key-value pairs, and the order of keys was not guaranteed,it depended on the internal hash computation.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
> In Python, a list is an ordered collection where each item is accessed by its index which is its position in the list, starting from 0. To retrieve an item from a list, you must know its exact position.
On the other hand, a dictionary is an unordered collection where each value is associated with a unique key. To retrieve data from a dictionary, you don't use an index you use the key directly.
This means:Lists are great when you're dealing with simple sequences and you know the order of the items.Dictionaries are better when your data is structured with labels or identifiers, and you want fast access to specific information using meaningful keys.

In [3]:
# 1. Create a string with your name and print it.

name = "Ayush"
print(name)

Ayush

In [4]:
# 2. Find the length of the string "Hello World".

text = "Hello World"
print(len(text))

11

In [5]:
# 3. Slice the first 3 characters from the string "Python Programming".

s = "Python Programming"
print(s[:3])

Pyt

In [6]:
# 4. Convert the string "hello" to uppercase.

word = "hello"
print(word.upper())

HELLO

In [7]:
#5. Replace the word "apple" with "orange" in the string "I like apple".

sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [8]:
# 6. Create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [9]:
# 7. Append the number 10 to the list [1, 2, 3, 4].

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [10]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5].

nums = [1, 2, 3, 4, 5]
nums.remove(3)
print(nums)

[1, 2, 4, 5]

In [12]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [13]:
# 10. Reverse the list [10, 20, 30, 40, 50]

values = [10, 20, 30, 40, 50]
values.reverse()
print(values)

[50, 40, 30, 20, 10]

In [14]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [15]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [16]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [17]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [18]:
# 15. Create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "kiwi")
print("kiwi" in fruits)

True

In [19]:
# 16. Create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'c', 'a'}

In [20]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}.

nums = {1, 2, 3, 4, 5}
nums.clear()
print(nums)

set()

In [21]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}

nums = {1, 2, 3, 4}
nums.remove(4)
print(nums)

{1, 2, 3}

In [22]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [23]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}

set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [25]:
# 21. Create a dictionary with the keys "name", "age", and "city", and print it

person = {"name": "Ayush", "age": 21, "city": "Ranchi"}
print(person)

{'name': 'Ayush', 'age': 21, 'city': 'Ranchi'}

In [26]:
# 22. Add a new key-value pair "country": "USA" to the dictionary

person = {'name': 'Ayush', 'age': 21}
person["country"] = "USA"
print(person)

{'name': 'Ayush', 'age': 21, 'country': 'USA'}

In [27]:
# 23. Access the value associated with the key "name".

person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [28]:
# 24. Remove the key "age" from the dictionary

person = {'name': 'Ayush', 'age': 21, 'city': 'Ranchi'}
person.pop("age")
print(person)

{'name': 'Ayush', 'city': 'Ranchi'}

In [29]:
# 25. Check if the key "city" exists in the dictionary.

person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [30]:
# 26. Create a list, a tuple, and a dictionary, and print them all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

In [31]:
# 27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[48, 55, 72, 73, 94]

In [32]:
# 28. Create a list with strings and print the element at the third index.

words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [35]:
# 29. Combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [36]:
# 30. Convert a list of strings into a set.

words = ["apple", "banana", "apple", "cherry"]
unique_words = set(words)
print(unique_words)

{'cherry', 'apple', 'banana'}